.accordionCheckboxContainer{
    position: relative;
}

.accordionCheckboxContainer .topCheckbox{
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}
.accordionCheckboxContainer .topCheckbox > *{
    margin: 7px 12px;
    padding: 0;
    font-size: 1.2em;
}
.accordionCheckboxContainer .topCheckbox input{
    width: 25px;
    height: 25px;
}
.accordionCheckboxContainer .bodyContent{
    max-height: 0;
    transition: linear all .3s;
    overflow: hidden;
}
.accordionCheckboxContainer .bodyContent.active{
    max-height: 100px;
    overflow: visible;
}